body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 0.1fr 0.25fr 1fr 0.4fr;
    grid-template-rows: 0.2fr 2.7fr 0.5fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "serverpane servernamepane toppane toppane"
        "serverpane channelpane mainpane shoppane"
        "serverpane userpane mainpane shoppane"
        "serverpane userpane bottompane shoppane";
}
.titlepane {
    grid-area: titlepane;
    width: 100%;
    height: 5%;
    background-color: grey;
}

.toppane {
    grid-area: toppane;
    background-color: #36393f;
    border-bottom: 1px solid black;
}

.channelpane {
    grid-area: channelpane;
    background-color: #2f3136;
    padding-right: 10px;
}

.serverpane {
    grid-area: serverpane;
    background-color: #202225;
}

.userpane {
    grid-area: userpane;
    background-color: #292b2f;
}

.bottompane {
    grid-area: bottompane;
    background-color: #40444b;
}

.mainpane {
    grid-area: mainpane;
    background-color: #36393f;
}

.shoppane {
    grid-area: shoppane;
    background-color: #2f3136;
    color: #b0b0b0;
}

.servernamepane {
    grid-area: servernamepane;
    background-color: #2f3136;
    border-bottom: 1px solid black;
}
