@font-face {
  font-family: 'whitney';
  src: url('fonts/whitneylight.otf');
}
@font-face {
  font-family: 'whitneylight';
  src: url('fonts/whitneylight.otf');
  
}
@font-face {
  font-family: 'unisans';
  src: url('fonts/Uni\ Sans\ Heavy.otf');
  
}
@font-face {
  font-family: 'whitneysemibold';
  src: url('fonts/whitneysemibold.otf');
  
}
@font-face {
  font-family: 'whitneybold';
  src: url('fonts/whitneybold.otf');
  
}
h1, p, h2, h3 {
  font-family: 'whitneylight';
  font-size: 20px;
  color: #f2eef2;
  margin-top: 0;
}

.profile-icon {
  padding-left: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.server-icon {
  padding-left: 7.5px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.emoji {
  width: 50px;
  height: 50px;
  padding-right: 5px;
}

/* For shop buttons */
.button {
  background-color: #7289da;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  /* background-color: grey; */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* For action buttons */
.playerbutton {
  background-color: #41444b;
  border: none;
  padding: 20px;
  text-align: center;
  color: #9398a4;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.playerbutton:hover {
  /* background-color: grey; */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.s1channelButtons {
  font-family: 'whitneysemibold';
  background-color: #2f3136;
  border: none;
  color: grey;
  padding: 6px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 2px;
  border-radius: 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 100%
  
}

.vcChannelStyles {
  background-color: #2f3136;
  border: none;
  color: grey;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 100%
}

.s1channelButtons:hover {
  background-color: #43464d;
  color: white;
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

/* For shop toggles */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
label { /*Displays the toggle*/
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}
label:after { /*Displays the white circle inside the toggle*/
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}
input:checked + label {
	background: #bada55;
}
input:checked + label:after { /*Moves slider left or right*/
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
label:active:after { /*Stretches circle in toggle*/
	width: 20px;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


/*For shop columns (may need to be modified later for the other grids)*/
 .column {
  display:table-cell;
	table-layout:fxed;
	padding:0 0 1px;

} 

.textChannelStyle {
  font-family: 'whitneybold';
  font-size: 12px;
  color: grey;
  padding-top: 15px;
  padding-bottom: 5px;

}

.hidden {
  display: none;
}