@font-face {
  font-family: 'whitney';
  src: url('fonts/whitneylight.otf');
}
@font-face {
  font-family: 'whitneylight';
  src: url('fonts/whitneylight.otf');
  
}
@font-face {
  font-family: 'unisans';
  src: url('fonts/Uni\ Sans\ Heavy.otf');
  
}
@font-face {
  font-family: 'whitneysemibold';
  src: url('fonts/whitneysemibold.otf');
  
}
@font-face {
  font-family: 'whitneybold';
  src: url('fonts/whitneybold.otf');
  
}
h1, p, h2, h3 {
  font-family: 'whitneylight';
  font-size: 20px;
  color: #f2eef2;
  margin: 8px 10px;
}

.profile-icon {
  padding-left: 5px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.server-icon {
  padding: 1.5px 8px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.server-icon:hover {
  cursor: pointer;
}

.server-name {
  position: absolute; 
  display: inline;
  height: 25px; 
  width: 150px; 
  margin: 10px 20px 0;
  background-color: #44DDBF;
  color: #202225;
  border-radius: 10px;
  padding: 10px 20px;
  padding-left: 0;
  font-family: "whitneylight";
}
/* little triangle for server name */
.server-name::after {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 25px solid #44DDBF;
  border-bottom: 15px solid transparent;
  border-left: 0 solid transparent;
  margin-right: 0;
  padding: 0;
  float: left;
  left: -15px;
  top: -3px;
}

.emoji {
  width: 50px;
  height: 50px;
  padding-right: 5px;
}

/* For shop buttons */
.button {
  background-color: #7289da;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

/* For action buttons */
.playerbutton {
  background-color: #41444b;
  border: none;
  padding: 18px;
  text-align: center;
  color: #9398a4;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 0 10px;
  margin-left: 8px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
/* .playerbutton:active {
  background-color: grey;
} */
.playerbutton:hover {
  /* background-color: grey; */
  color: #202225;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  background-color: #44DDBF;
}

.s1channelButtons {
  font-family: 'whitneysemibold';
  background-color: #2f3136;
  border: none;
  color: grey;
  padding: 6px;
  text-align: left;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 1px 2px;
  border-radius: 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 100%
  
}

.s1channelButtons:hover {
  background-color: #43464d;
  color: white;
  cursor: pointer;
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

.vcChannelStyles {
  font-family: 'whitneysemibold';
  background-color: #2f3136;
  border: none;
  color: grey;
  padding: 6px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  margin: 1px 2px;
  width: 100%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.vcChannelStyles:hover {
  cursor: pointer;
  color: white;
  background-color: #43464d;
}

/* For shop toggles */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
label { /*Displays the toggle*/
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}
label:after { /*Displays the white circle inside the toggle*/
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}
input:checked + label {
	background: #bada55;
}
input:checked + label:after { /*Moves slider left or right*/
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
label:active:after { /*Stretches circle in toggle*/
	width: 20px;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


/*For shop columns (may need to be modified later for the other grids)*/
 .column {
  display:table-cell;
	table-layout:fxed;
	padding:0 0 1px;

} 

.textChannelStyle {
  font-family: 'whitneybold';
  font-size: 12px;
  color: grey;
  padding-top: 15px;
  padding-bottom: 5px;

}

/* Scrollbar Style */
.hidden {
  display: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #303338; 
  border-radius: 100px;
  padding-right: 20px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #212225; 
  border-radius: 100px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303338; 
}